/*
	常用样式
 	兼容：IE9
 	system-color
 	blue: 0866c6;
 	red: dc3545;
 	yellow: f49917;
 	green: 23bf08;
 	border: dcdcdc;
 */

/*基本样式*/

* { -webkit-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }
html { width: 100%; height: 100%; overflow-y: auto; background: #fff; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
input:not[type=raido], input:not[type=checkbox], button, textarea { border: none; outline: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

/*float*/
.fl { float: left; }
.fr { float: right; }
.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after { display: block; height: 0; visibility: hidden; clear: both; content: ""; }

/*block center*/
.bc { display: block; margin: 0 auto; }

/*display*/
.block { display: block; }
.inline { display: inline-block; }

/*padding*/
.p10 { padding: 10px; }
.p20 { padding: 20px; }
.pt10 { padding-top: 10px; }
.pr10 { padding-right: 10px; }
.pb10 { padding-bottom: 10px; }
.pl10 { padding-left: 10px; }
.pt20 { padding-top: 20px; }
.pr20 { padding-right: 20px; }
.pb20 { padding-bottom: 20px; }
.pl20 { padding-left: 20px; }
.px10 { padding-left: 10px; padding-right: 10px; }
.px20 { padding-left: 20px; padding-right: 20px; }
.py10 { padding-top: 10px; padding-bottom: 10px; }
.py20 { padding-top: 20px; padding-bottom: 20px; }

/*margin*/
.m10 { margin: 10px; }
.m20 { margin: 20px; }
.mt10 { margin-top: 10px; }
.mr10 { margin-right: 10px; }
.mb10 { margin-bottom: 10px; }
.ml10 { margin-left: 10px; }
.mt20 { margin-top: 20px; }
.mr20 { margin-right: 20px; }
.mb20 { margin-bottom: 20px; }
.ml20 { margin-left: 20px; }
.mx10 { margin-left: 10px; margin-right: 10px; }
.mx20 { margin-left: 20px; margin-right: 20px; }
.my10 { margin-top: 10px; margin-bottom: 10px; }
.my20 { margin-top: 20px; margin-bottom: 20px; }

/*text align*/
.tc { text-align: center !important; }
.tl { text-align: left !important; }
.tr { text-align: right !important; }

/*vertical align*/
.vt { vertical-align: top; }
.vm { vertical-align: middle; }
.vb { vertical-align: bottom; }

/*background color*/
.bg-blue { background-color: #0866c6; }
.bg-yellow { background-color: #f49917; }
.bg-red { background-color: #dc3545; }
.bg-green { background-color: #23bf08; }
.bg-white { background-color: #fff; }

/*text color*/
.blue { color: #0866c6; }
.yellow { color: #f49917; }
.red { color: #dc3545; }
.green { color: #23bf08; }
.white { color: #fff; }

/*link*/
.link { text-decoration: none; }
.link:hover { text-decoration: underline; }

/*text overflow ellipsis*/
.toe { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

/*disabled*/
.disabled, :disabled { position: relative; cursor: not-allowed; pointer-events: none; opacity: .6; }

/*组件*/

/*form components*/
.input { height: 30px; padding: 0 10px; border: 1px solid #dcdcdc; border-radius: 2px; vertical-align: middle; }
.textarea { padding: 0 10px; border: 1px solid #dcdcdc; border-radius: 2px; vertical-align: top; line-height: 30px; }
.label { display: inline-block; vertical-align: middle; line-height: 30px; width: 180px; text-align: right; }
.select { height: 30px; padding: 0 4px; border: 1px solid #dcdcdc; line-height: 30px; }
.form_row { padding: 10px 0; }

.checkbox { position: relative; display: inline-block; cursor: pointer; vertical-align: middle; }
.checkbox input[type=checkbox] { position: absolute; left: 0; opacity: 0; }
.checkbox span { display: block; vertical-align: middle; font-size: 14px; }
.checkbox span:before { display: inline-block; width: 18px; height: 18px; background: #fff; margin-right: 4px; border: 1px solid #dcdcdc; border-radius: 2px; vertical-align: middle; text-align: center; line-height: 18px; content: ""; font-size: 14px; font-weight: bold; }
.checkbox input[type=checkbox]:checked + span:before { content: "\2714"; color: #0866c6; }

.radio { position: relative; display: inline-block; cursor: pointer; vertical-align: middle; }
.radio input[type=radio] { position: absolute; left: 0; opacity: 0; }
.radio span { display: block; vertical-align: middle; font-size: 14px; }
.radio span:before { display: inline-block; width: 16px; height: 16px; padding: 3px; margin-right: 4px; background-color: #fff; background-clip: content-box; border: 1px solid #dcdcdc; border-radius: 50%; -webkit-box-sizing: border-box; box-sizing: border-box; vertical-align: middle; text-align: center; content: ""; font-size: 12px; }
.radio input[type=radio]:checked + span:before { background-color: #0866c6; }

.file { display: inline-block; position: relative; width: 300px; height: 30px; background: #fff; border: 1px solid #dcdcdc; vertical-align: middle; line-height: 26px; cursor: pointer; }
.file input[type="file"] { position: absolute; left: 0; opacity: 0; }
.file span:before { position: absolute; top: 0; bottom: 0; left: 0; display: inline-block; width: 80%; padding: 0 10px; vertical-align: middle; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; content: attr(data-placehover); color: #999; }
.file span:after { position: absolute; top: 0; bottom: 0; right: 0; display: inline-block; width: 30%; padding: 0 10px; background: #0866c6; vertical-align: middle; overflow: hidden; text-align: center; text-overflow: ellipsis; white-space: nowrap; content: attr(data-btn); color: #fff; }

/*button*/
.btn { display: inline-block; height: 30px; padding: 0 10px; overflow: hidden; background: #868e96; border: 1px solid #868e96; vertical-align: middle; line-height: 30px; text-align: center; text-overflow: ellipsis; text-decoration: none; white-space: nowrap; font-size: 14px; font-family: inherit; color: #fff; }
.btn:hover { background: #727b84; border-color: #6c757d; }
.btn.disabled, .btn:disabled { display: inline-block; background: #868e96; border-color: #868e96; }

.btn-blue:hover { background: #0753a1; border-color: #064d95; }
.btn-blue, .btn-blue.disabled, .btn-blue:disabled { background: #0866c6; border-color: #0866c6; }
.btn-blue.btn-outline, .btn-blue.btn-outline.disabled, .btn-blue.btn-outline:disabled { color: #0866c6; }

.btn-yellow:hover { background: #da850a; border-color: #ce7d0a; }
.btn-yellow, .btn-yellow.disabled, .btn-yellow:disabled { background: #f49917; border-color: #f49917; }
.btn-yellow.btn-outline, .btn-yellow.btn-outline.disabled, .btn-yellow.btn-outline:disabled { color: #f49917; }

.btn-red:hover { background: #c82333; border-color: #bd2130; }
.btn-red, .btn-red.disabled, .btn-red:disabled { background: #dc3545; border-color: #dc3545; }
.btn-red.btn-outline, .btn-red.btn-outline.disabled, .btn-red.btn-outline:disabled { color: #dc3545; }

.btn-green:hover { background: #1c9a06; border-color: #1a8e06; }
.btn-green, .btn-green.disabled, .btn-green:disabled { background: #23bf08; border-color: #23bf08; }
.btn-green.btn-outline, .btn-green.btn-outline.disabled, .btn-green.btn-outline:disabled { color: #23bf08; }

.btn-outline:hover { color: #fff; }
.btn-outline, .btn-outline.disabled, .btn-outline:disabled { background: #fff; color: #868e96; }

.btn-big { height: 40px; padding: 0 30px; line-height: 40px; font-size: 20px; }
.btn-small { height: 26px; padding: 0 10px; line-height: 24px; font-size: 12px; }
.btn-radius { border-radius: 2px; }

/*table*/
.table { width: 100%; border-top: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; line-height: 40px; }
.table th, table td { padding: 0 10px; }
.table th { text-align: left; }
.table tr { border-top: 1px solid #dcdcdc; }
.table-striped tbody tr:nth-of-type(odd) { background: #e9ecef; }
.table-border th, .table-border td { border: 1px solid #dcdcdc; }

/*布局*/

/*栅格布局*/
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 { float: left; }
.col1 { width: 8.33333333%; }
.col2 { width: 16.66666667% }
.col3 { width: 25%; }
.col4 { width: 33.33333333%; }
.col5 { width: 41.66666667%; }
.col6 { width: 50%; }
.col7 { width: 58.33333333%; }
.col8 { width: 66.66666667%; }
.col9 { width: 75%; }
.col10 { width: 83.33333333%; }
.col11 { width: 91.66666667%; }
.col12 { width: 100%; }

/*两列右侧自适应布局*/
.c2la_l { position: relative; float: left; width: 360px; margin-right: -360px; }
.c2la_r { float: right; width: 100%; }
.c2la_rc { margin-left: 380px; }

/*两列右侧自适应布局*/
.c2ra_l { float: left; width: 100%; }
.c2ra_lc { margin-right: 380px; }
.c2ra_r { position: relative; float: right; width: 360px; margin-left: -360px; }

/*三列中间自适应布局*/
.c3ca_col { float: left; }
.c3ca_l, .c3ca_r { position: relative; width: 180px; }
.c3ca_l { margin-right: -180px; }
.c3ca_r { float: right; margin-left: -180px; }
.c3ca_c { width: 100%; }
.c2ca_cc { margin: 0 200px; }

/* media */

/* 横屏 */
@media screen and (orientation:landscape){
}
/* 竖屏 */
@media screen and (orientation:portrait){
}
/* 窗口宽度<960,设计宽度=768 */
@media screen and (max-width:959px){
}
/* 窗口宽度<768,设计宽度=640 */
@media screen and (max-width:767px){
}
/* 窗口宽度<640,设计宽度=480 */
@media screen and (max-width:639px){
}
/* 窗口宽度<480,设计宽度=320 */
@media screen and (max-width:479px){
}
/* windows UI 贴靠 */
@media screen and (-ms-view-state:snapped){
}
/* 打印 */
@media print{
}